.container {
    height: 90%;
    padding: 4rem;
    background: rgb(255, 255, 255);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
}

a {
    margin: 10rem;
}