<div class="container">
  <div><h2>¿Qué quieres hacer?</h2></div>
  <form [formGroup]="servicesForm">
    <div>
      <input type="checkbox" name="web" id="web" formControlName="web">
      <label for="web" >A web page (500$)</label>
      <app-panel *ngIf="webSelected" [subTotalBudget]="subTotalBudget" (onTotalEvent)="showTotal($event)"  ></app-panel>
  </div>
  <div>
      <input type="checkbox" name="seo" id="seo" formControlName="seo">
      <label for="seo">SEO service (300$)</label>
  </div>
  <div>
      <input type="checkbox" name="sem" id="sem" formControlName="sem">
      <label for="sem">Google Ads campaign (200$)</label>
  </div>
</form>
  <div class="col-2 justify-content-center mt-5"><p>Precio:{{totalBudget}}$</p></div>
</div>
<div> 
  <a href="/">Volver</a>
</div>
